.section {
  margin-top: 100px !important;
}

.section-title {
  font-size: 34px;
  font-weight: 400;
  line-height: 123.5%;
  text-align: center;
  letter-spacing: 0.25px;
  color: var(--lightTextSecondaryColor);
}

@media (max-width: 900px) {
  .section-title {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .section {
    margin-top: 60px !important;
  }

  .section-title {
    font-size: 20px;
  }
}
