.word__details-card {
  background-color: white;
  border-radius: 5px;
  padding: 1.3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  transition: 2s ease;
}

.word__details-card_image {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  object-fit: cover;
}

.word__details-card-buttons-group {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  column-gap: 0.3rem;
}

Button.details-card-button {
  box-shadow: none;
  border-radius: 20px;
  font-size: 10px;
}

@media (max-width: 900px) {
  .word__details-card_image {
    height: 160px;
    width: 160px;
  }
}
