.game__title {
  font-size: 60px;
  font-weight: 500;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.15px;
  color: var(--lightTextPrimaryColor);
}

.game__description {
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.15px;
  color: var(--lightTextSecondaryColor);
}

.audiocall__question {
  display: flex;
  flex-direction: column;
  min-height: 270px;
  justify-content: center;
  align-items: center;
}

.audiocall__icon-container {
  display: flex;
  width: 210px;
  height: 210px;
  margin-bottom: 48px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
}

.audiocall__icon {
  width: 3em !important;
  height: 3em !important;
  color: var(--lightSecondaryDarkColor);
}

.audiocall__answers {
  display: flex;
  justify-content: center;
}

.audiocall__next-btn {
	width: 120px;
	margin-top: 20px !important;
}
