.mobile-nav__items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
  padding: 20px 40px !important;
  overflow: hidden;
}

.mobile-nav__items::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 70% 100%;
  width: 108%;
  height: 95%;
  background-color: var(--backgroundColor);
  left: -296px;
  top: 27px;
}

.mobile-nav__items :last-child {
  margin-top: auto;
}

.mobile-nav__item {
  text-decoration: none;
  margin-top: 10px;
}

.mobile-nav__button {
  justify-content: end !important;
  gap: 10px;
  border-bottom: 2px solid transparent !important;
}

.mobile-nav__text {
  color: var(--lightTextSecondaryColor);
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 123.5%;
  letter-spacing: 0.25px;
  transition: all .3s;
}

.mobile-nav__icon {
  min-width: 24px !important;
}

.mobile-nav__active-item .mobile-nav__text,
.mobile-nav__active-item .mobile-nav__icon {
  color: var(--lightSecondaryMainColor) !important;
}