:root {
  --lightTextPrimaryColor: rgba(0, 0, 0, 0.87);
  --lightTextSecondaryColor: rgba(0, 0, 0, 0.6);;
  --lightSecondaryMainColor: #9C27B0;
  --lightOtherDividerColor: rgba(0, 0, 0, 0.12);
  --lightActionActiveColor: rgba(0, 0, 0, 0.54);
  --backgroundColor: #EFEFEF;

}

* {
  box-sizing: border-box;
  margin: 0;
}

section {
  padding: 50px 0;
}